<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О проекте</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
    <div class="page-wrapper">
        <header>
            <h1>О проекте</h1>
        </header>

        <div class="container-wrapper">
            <div class="container">
                <h2>Полный гайд по использованию</h2>
                <p>Для использования системы следуйте следующим шагам:</p>
                <ol>
                    <li>Перейдите на страницу входа и введите ваш логин и пароль.</li>
                    <li>После успешного входа в систему откроется главное меню.</li>
                    <li>Выберите опцию "Создать сканирование".</li>
                    <li>Система сгенерирует скрипт-агент, который необходимо загрузить и запустить.</li>
                    <li>В зависимости от выбранного типа сканирования:
                        <ul>
                            <li>Offensive-сканирование: агент необходимо запускать на хосте.</li>
                            <li>Defensive-сканирование: агент необходимо запускать внутри контейнера.</li>
                        </ul>
                    </li>
                    <li>Всю последующую работу система выполнит самостоятельно</li>
                    <li>Дождитесь завершения анализа, затем перейдите в раздел "Просмотр сканов".</li>
                    <li>Выберите нужный отчёт, ознакомьтесь с деталями найденных уязвимостей.</li>
                </ol>
            </div>
            <div class="container">
                <h2>Описание процесса сканирования</h2>
                <p>Сканирование контейнеров происходит в несколько этапов:</p>
                <ul>
                    <li>После инициации сканирования агент подгружает с сервера все необходимые файлы и утилиты</li>
                    <li>Затем агент открывает обратный ssh туннель, пробрасывающий локальный порт в сканирующую систему</li>
                    <li>И после запускает listener, дающий доступ к командной оболочке контейнера</li>
                    <li>Агент с помощью post запроса уведомляет сервер о том, что контейнер готов к установке соединения</li>
                    <li>Сервер обрабатывает запрос, и подключается к контейнеру для проведения сканирования</li>
                    <li>Затем, системой проводится серия тестов, а их езультаты отправляются на сервер и сохраняются в базе данных.</li>
                    <li>Пользователь получает возможность просмотреть отчёт по сканированию контейнера</li>
                </ul>
            </div>
        </div>

        <div class="footer">
            <div class="footer-content">
                <a href="https://github.com/sp1av/palantir" target="_blank" class="github-link">
                    <span class="icon">📦</span>
                    Исходный код на GitHub, выложенный под ОГЛ
                </a>
                <p class="project-info">Проект подготовлен для ВСОШ по информационной безопасности.</p>
            </div>
        </div>
    </div>
</body>
</html>
