<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker Security Scan Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report_fin.css') }}">
</head>
<body>
    <div class="header-container">
        <h1>Docker Security Scan Report</h1>
        <a href="{{ url_for('generate_pdf_report', scan_id=results[0].scan_id) }}" class="download-button">
            Download PDF Report
        </a>
    </div>
    
    {% for docker in results %}
    <div class="report-container">
        <h2>
            {% if multiple_containers %}
                Report {{ docker.docker_id }}
            {% else %}
                Report
            {% endif %}
        </h2>

        {% if docker.vulnerabilities %}
            {% for vuln_key, vuln_data in docker.vulnerabilities.items() %}
                <h3>{{ vuln_data.name if vuln_data.name else vuln_key | capitalize }}:</h3>
                <p>Status: {{ vuln_data.status }}</p>

                {% if vuln_data.details %}
                    {% if vuln_data.details is iterable %}
                        <ul>
                            {% for detail in vuln_data.details %}
                                <li>{{ detail }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Details: {{ vuln_data.details }}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No vulnerabilities found. The container is secure.</p>
        {% endif %}
    </div>
    {% endfor %}


</body>
</html>
